@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  width: var(--svg-icon-size, 16px);
  height: var(--svg-icon-size, 16px);
}

@layer components {
  input {
    @apply text-red-800;
  }
  .page-content {
    @apply p-[10px] rounded shadow bg-white;
  }
  .content-title {
    @apply block mb-[10px] border-b pb-[6px] select-none font-bold font-mono;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
