@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --test: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --test: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  a {
    text-underline-offset: 0.25rem;
    @apply text-[#d23669] dark:text-[#ffa7c4];
  }
  a:hover {
    text-decoration: underline;
  }

  button {
    @apply rounded;
    @apply inline-flex content-center items-center break-keep whitespace-nowrap;
  }

  /* input text-ish */
  input[type="text"],
  input[type="search"] {
    @apply w-full border p-2 rounded;
    @apply text-gray-900 dark:text-white;
    @apply border-gray-300 dark:border-gray-600;
    @apply bg-gray-50 dark:bg-gray-700;
    @apply focus:outline-none focus:ring-1;
    @apply focus:ring-blue-500;
    @apply focus:border-blue-500;
  }
  input[type="search"] {
    @apply focus:outline-offset-0;
  }
  input[type="checkbox"] {
    @apply w-4 h-4 rounded;
    /* @apply text-blue-600; */
    /* @apply border-gray-300 dark:border-gray-600; */
    /* @apply bg-gray-100 dark:bg-gray-700; */
    /* @apply focus:ring-blue-500 dark:focus:ring-blue-600; */
    /*    dark:ring-offset-gray-800 focus:ring-2 */
  }
  select {
    @apply text-sm rounded border p-1;
    @apply text-gray-900 dark:text-white;
    @apply border-gray-300 dark:border-gray-600;
    /* @apply focus:ring focus:ring-blue-500 dark:focus:ring-blue-500; */
    /* @apply focus:border-blue-500 dark:focus:border-blue-500; */
    @apply bg-gray-50 dark:bg-gray-700;
  }

  svg {
    width: var(--svg-icon-size, 16px);
    height: var(--svg-icon-size, 16px);
    @apply text-current;
  }

  u {
    padding: 0 0.125rem;
    text-underline-offset: 0.25rem;
  }
}

@layer components {
  .Bg-0 {
    @apply bg-[#e5e5e5] dark:bg-[#191919];
  }
  .Bg-1 {
    @apply bg-[#f7f7f7] dark:bg-[#1e1e1e];
  }

  .PageContent {
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    @apply border border-transparent p-[10px] rounded;
    @apply text-LightContent-1 dark:text-DarkContent-1;
    @apply bg-LightPageContentBg dark:bg-DarkPageContentBg;
    /* @apply border-1 border-transparent; */
    @apply dark:border-[#262626];
  }
  .ContentTitle {
    @apply block mb-2 border-b pb-1 select-none font-bold font-mono;
    @apply border-neutral-400 dark:border-neutral-500;
    @apply text-LightContentTitle dark:text-DarkContentTitle;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .ResetInputRingShadow:focus {
    --tw-ring-shadow: 0 0 #000 !important;
  }
}

/* other rules */
/* linked-toc tree-list */
ul.tree-list > li {
  position: relative;
  margin-left: calc(0.75em - 1px);
  border-left: 1px solid lightgray;
  padding-left: 0.75em;
}
ul.tree-list > li::before {
  position: absolute;
  top: 1px;
  left: 0;
  content: " ";
  width: 0.5em;
  height: 0.75em;
  border-bottom: 1px solid lightgray;
}
ul.tree-list > li:last-child {
  border-left: 1px solid transparent;
}
ul.tree-list > li:last-child::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  height: calc(0.75em);
  border-left: 1px solid lightgray;
  border-bottom: none;
  transform: translateX(-1px);
}
ul.tree-list > li:last-child::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 0.5em;
  height: 0.75em;
  border-bottom: 1px solid lightgray;
}
/* details */
.details-head {
  position: relative;
  @apply flex-grow flex items-start;
}
.details-head::before {
  content: " ";
  height: calc(100% - 24px);
  position: absolute;
  top: 24px;
  left: calc(-0.75em - 1px);
  border-left: 1px solid lightgray;
}
details.close > summary > .details-head::before {
  border-color: transparent;
}
ul.tree-list > li:last-child > details .details-head.no-items-item::before {
  border-color: transparent;
}

/* table */
table {
  /* width: 100%; */
  max-width: 100%;
  border-collapse: collapse;
  @apply text-left rtl:text-right;
  @apply text-gray-500 dark:text-gray-400;
}
th {
  @apply px-6 py-3;
}
td {
  @apply px-6 py-3;
}
